.container {
	background: maroon;
	font-size: 20px;

	
}
.bob {
	background: #00FF00;
}
.PixelationConfusication {
	text-align: left;
	font-size: 20px

}
.super {
	text-align: center;
}


h1 {
	color: blue;
}

.sidebar {
	font-size: 15px;
}

